<footer class="site-footer dark">

  <div class="wrapper">

    <h2 class="footer-heading"></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon icon--twitter">{% include icons/twitter.html %}</span>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon--github">{% include icons/github.html %}</span>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          <li>
            <a href="mailto:{{site.email}}">
              <span class="icon icon--email"><i class="material-icons">mail_outline</i></span>Email</a>
            </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">this thing is a work in progress.
          <br>if this page looks better on mobile, it was designed that way.</p>
      </div>
    </div>

  </div>

</footer>
