<div class="amp-social-share-box">
  <amp-social-share type="twitter"
    aria-label="Share this on Twitter"
    width="28"
    height="28">
    </amp-social-share>
  <amp-social-share type="facebook"
    width="28"
    height="28"
    aria-label="Share this on Facebook"
    data-param-text="{{page.title}}"
    data-param-url="{{page.url}}"
    data-param-app_id="{{site.id_f}}">
    </amp-social-share>
  <amp-social-share type="linkedin"
    width="28"
    height="28"
    data-param-text="{{page.title}}"
    data-param-url="{{page.url}}">
    </amp-social-share>
  <amp-social-share type="email"
    width="28"
    height="28"
    data-param-subject="Passing along '{{page.title}}'"
    data-param-body="{{page.url}}"
    data-param-text="{{page.title}}"
    data-param-url="{{page.url}}"
    aria-label="Share this with E mail">
    </amp-social-share>
</div>
