@charset "utf-8"

// Our variables
//$base-font-family: Helvetica, Arial, sans-serif
$base-font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif
$base-font-size:   16px
$base-line-height: 1.5
$base-font-weight: 300
$heading-weight:   600
$small-font-size:  $base-font-size * 0.875

$spacing-unit:     30px

$text-color:       #414141
$background-color: #fafafa
//$background-color: #fcfcfc
//$brand-color:      #2a7ae2
$brand-color:      #3151a7
$brand-secondary:  #ed3b05

$grey-color:       #828282
$lightgray:        #f9f9f9
$grey-meta:        lighten($grey-color, 30%)
$grey-color-light: lighten($grey-color, 40%)
$grey-color-dark:  darken($grey-color, 25%)

$on-palm:          600px
$on-laptop:        800px


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device)
    @media screen and (max-width: $device)
        @content

/* Clearfix */
%clearfix
  &:after
    content: ""
    display: table
    clear: both

.light
  background-color: $background-color

.font200
  font-weight: 200
.font300
  font-weight: 300
.font500
  font-weight: 500


// Import partials from `sass_dir` (defaults to `_sass`)
@import "_flex"
@import "_darktheme"
@import "_base"
@import "_amp"
@import "_layout"
@import "_footer"
@import "_graphics"
@import "_syntax-highlighting"
