<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <!--<body class="flex wrap">-->
  <body class="flex flex-column items-center">

    {% include header.html %}

    <!--<main class="page-content justify-center grow-1">-->
    <main class="page-content flex">
      <!--<div class="wrapper"> </div>-->
        {{ content }}
    </main>

    {% include footer.html %}

  <link async href="{{ "/scripts/main.min.js" | relative_url }}">
  <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register("{{ "/sw.js" | relative_url }}").then(function() {
      console.log("Service Worker Registered");
    });
  }
  </script>
  </body>

</html>
